body {
    background-color: #FFF5E4;
    background-image: url('/static/waveAdd.png');
    background-size: cover;
    background-position: center;

    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    position: relative;
}

.back-containner {
    position: absolute; 
    top: 20px; 
    left: 20px; 
    width: auto; 
}

.back-button {
    color: #295F98;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.container {
    background-color: #8EACCD;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 600px;
    margin: auto;
}

h1 {
    font-size: 24px;
    color: #295F98;
}

.error-message {
    color: red;
    font-size: 14px;
}

.form-section {
    margin-top: 20px;
}

label {
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="submit"] {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #295F98;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="file"]{
    padding: 10px;
    width: 100%;
    border: 1px solid #295F98;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"] {
    margin-right: 5px;
}

.submit-btn {
    background-color: #295F98;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center; 
}

.download-btn {
    background-color: #295F98;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
}

img {
    border: 2px solid #295F98;
    border-radius: 10px;
    margin-top: 20px;
}

#position-options, #alignment-options {
    display: flex;
    justify-content: center;
    gap: 15px;
}
